#clock {
    padding: 50px;

    border-radius: 10px;

    border: 2px solod #FF0000;

    color: #FF0000;

    display: flex;

    cursor: pointer;

    position: relative;
}

#clock p {
    font-size: 120px;
    padding: 0 5px;
}

#question {
    font-size: 50px;
    padding: 20px;
}

#answer input{
    font-size: 40px;

    margin-top: 30px;
}

#answer ul {
    list-style-type:none;
}

#answer li {
    margin: 10px;

    /* justify-content: center; */

    align-items: center;

    /* /display: flex; */
}

#answer li i {
    cursor: pointer;
    margin: 5px;
}

.btn-wrapper {
    position: absolute;
    right: 550px;
    top: 170px;

    width: 200px !important;
    height: 50px;

    cursor: pointer;

    overflow: hidden;
}

.btn-wrapper.pre {
    left: 550px;
    right: auto;
}

.btn {
    width: 150px !important;
    height: 50px;
    background-color: #d9c9ba;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn #btn-pre{
    position: absolute;
    right: 0px;
}

#btn-pre::before{
    content: "";

    width: 40px !important;
    height: 40px;
    z-index: -1;

    background-color: #d9c9ba;

    position: absolute;
    left: 10px;

    transform: rotate(45deg);
}

#btn-next::before{
    content: "";

    width: 40px !important;
    height: 40px;
    z-index: -1;

    background-color: #d9c9ba;

    position: absolute;
    right: 10px;

    transform: rotate(45deg);
}

#current-question{
    position: absolute;
    top: 50px;
    right: 400px;

    font-size: 30px;

    display: flex;
}

#current-question p {
    margin-right: 20px;
}