#clock {
  padding: 50px;

  border-radius: 10px;

  /* border: 2px solid #FF0000; */

  color: #FF0000;

  display: flex;

  cursor: pointer;

  position: relative;
}

#clock p {
  font-size: 120px;
  padding: 0 5px;
}

#question {
  font-size: 50px;
  padding: 20px;
}

#answer input {
  font-size: 40px;

  /* margin-top: 30px; */
}

#answer ul {
  list-style-type: none;
}

#answer li {
  margin: 10px;

  /* justify-content: center; */

  align-items: center;

  /* /display: flex; */
}

#answer li i {
  cursor: pointer;
  margin: 5px;
}

.btn-wrapper {
  position: absolute;
  right: 550px;
  top: 170px;

  width: 200px !important;
  height: 50px;

  cursor: pointer;

  overflow: hidden;

  transition: all 0.3s ease-in;
}

.btn-wrapper:hover {
  right: 530px;
}

.btn-wrapper.pre {
  left: 550px;
  right: auto;
  /* transition: all 0.3s ease-in; */
}

.btn-wrapper.pre:hover {
  left: 530px;
}

.btn {
  width: 150px !important;
  height: 50px;
  /* background-color: #d9c9ba; */
  background-color: #f4511e;
  display: flex;
  justify-content: center;
  align-items: center;

  color: #fff;
  /* font-weight: bold; */
}

.btn #btn-pre {
  position: absolute;
  right: 0px;
}

#btn-pre::before {
  content: "";

  width: 40px !important;
  height: 40px;
  z-index: -1;

  /* background-color: #d9c9ba; */
  background-color: #f4511e;

  position: absolute;
  left: 10px;

  transform: rotate(45deg);
}

#btn-next::before {
  content: "";

  width: 40px !important;
  height: 40px;
  z-index: -1;

  background-color: #f4511e;

  position: absolute;
  right: 10px;

  transform: rotate(45deg);
}

#current-question {
  position: absolute;
  top: 50px;
  right: 400px;

  font-size: 30px;

  display: flex;
}

#current-question p {
  margin-right: 20px;
}

#add-question{
  text-align: center;
}

#add-question p {
  font-size: 30px;
  margin-bottom: 30px;
}

#add-question textarea {
  margin-top: 8px;
}

#input-question {
  border: 1px solid;
}